# Python 编译文件
__pycache__/
*.py[cod]
*$py.class

# 虚拟环境
venv/
.venv/
env/

# 环境变量与隐私文件
.env
*.sqlite3
data.json

# IDE 配置
.idea/
.vscode/

# 数据缓存
pushed_history.json

# AI 提示词
AI_READ.md
prompt.md

# 脚本工具
scripts